input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
}

#inputtt {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
}

body{
    background-color: #ea0000;
}